[submodule "docs"]
	path = docs
	url = https://github.com/teeshop/rexgen-docs.git
[submodule "src/googletest"]
	path = src/googletest
	url = https://github.com/google/googletest.git
[submodule "src/tests/googletest"]
	path = src/tests/googletest
	url = https://github.com/google/googletest.git
[submodule "src/tests/pcre"]
	path = src/tests/pcre
	url = https://github.com/imgix/pcre
