#!/bin/sh -e
SYSTEM=$(uname -s)
SCRIPT=$(src/scripts/readlink.sh $0)
BASEDIR=$(dirname "${SCRIPT}")
BUILDDIR="$BASEDIR/build"
COMPILER=""

args=$(getopt cdgpl $*)
if test $? != 0; then
	echo "Usage: $0 [-dpl]"
	exit 1
fi

set -- $args

BUILD_TYPE=RELEASE

for i ; do
	case "$i" in
	
    -c)
      COMPILER=clang
    ;;

		-d)
			BUILD_TYPE=DEBUG
		;;

    -g)
      COMPILER=gcc
    ;;

		-p)
			CMAKE_OPTIONS="${CMAKE_OPTIONS} -DUSE_PYTHON=ON"
		;;

		-l)
			CMAKE_OPTIONS="${CMAKE_OPTIONS} -DUSE_LUA=ON"
		;;
	
		--)
			break
		;;
	
		*)
			echo "Invalid Parameter: '$1'"
			exit 1
		;;
	esac
done
CMAKE_OPTIONS="${CMAKE_OPTIONS} -DCMAKE_BUILD_TYPE=${BUILD_TYPE}"

if [ "x$COMPILER" != "x" ]; then
  TOOLCHAIN_FILE="../toolchains/${SYSTEM}_${COMPILER}"
  CMAKE_OPTIONS="${CMAKE_OPTIONS} -DCMAKE_TOOLCHAIN_FILE=${TOOLCHAIN_FILE}"
fi

